.footer-container{
    color: var(--color-inverse-text);
    text-align: center;
    margin: auto;
    letter-spacing: 0.15rem;
    padding: 6rem;
    background-color: var(--color-footer);
    bottom: 0;
}

.footer-links {
    display: flex;
    gap: 5rem; /* Adjust this value to increase or decrease the space */
    justify-content: center; /* Centers the links horizontally */
    flex-wrap: wrap; /* Ensures links wrap properly on smaller screens */
    a{
        color: var(--color-inverse-text);
        text-decoration: none;
    }
    a:hover{
        color: var(--color-accent-hover);
    }
}
#get-in-touch{
    color: var(--color-button-text);
}
#back-to-top{
    color: #97e3ec;
}

.footer-bottom {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-top: 5rem;
    opacity: 0.7;
    align-content: center;

}
