@media (orientation: landscape) and (min-width: 700px) {
    body{
        margin: auto;
        padding: 5px;
    }
    body ::selection{
        color: #ffffff;;
    }

    header{
        background: #97e3ec;
        padding: 5px;

    }
    
    .nav-items-list{
        display: flex;

        justify-content: space-between;
        margin: auto;
        list-style-type: none;

    }
    .section{
        display: block;
        padding: 6px;
    }

    .section :nth(2){
        background: #1ee4ff;
        padding: 6px;
        
    }
    #section2-skills{
        background: #b7d1d1;
    }
    #section1-about{
        display: flex;
        flex-direction: row;
    }
    #asideSection1{
        background: #086a76;
        margin: auto;
        width: fit-content;
        padding: 25px;
    }

    #section1-about p:first-of-type{
        background: rgb(219 213 213);
        box-sizing: border-box;
        width: 40%;
        padding: 50px;
    }
    #section1-about p:first-of-type:first-letter{
        font-size: 29px;
    }

    
    .section:nth-child(even){
        background: #b7bccc;
    }
    .section:nth-child(odd){
        background: #bee3b1;
    }

    footer{
        background: #9fe8e8;
        padding: 1rem;
        height: 15rem;
        align-content: center;
        margin: auto;
        text-align: center;
    }



}

